body {
  margin: 0;
  color: #fff;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background-image: linear-gradient(to bottom, #020917, #101725);
}

.content {
  display: flex;
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  line-height: 1.1;
  text-align: center;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-size: 3rem;
    font-weight: 700;
  }

  h2 {
    font-size: 2.2rem;
    font-weight: 700;
  }

  h3 {
    font-size: 1.4rem;
    font-weight: 700;
  }
}
